<h1>Create a note collection</h1>

<div class="error-msg">
  <% if @notecollection_list.errors.any? %>
      <ul>
      <% @notecollection_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
</div>

<%=form_for(@notecollection_list) do |f| %>
<div class="field">
	<p>Name</p>
	<%=f.text_field:title%>
</div>
<div class="field">
	<p>User/Author</p>
	<%=f.collection_select:user_id, User.all, :id, :name%>
</div>

<div class="actions">
	<%=f.submit %>
</div>
<% end %>