<h1>Create a note collection</h1>

<div class="error-msg">
  <% if @notecollection.errors.any? %>
      <ul>
      <% @notecollection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
</div>

<%=form_for(@notecollection) do |f| %>
<div class="field">
	<p>Name</p>
	<%=f.text_field:title%>
</div>

<div class="field">
     <%= f.hidden_field :user_id, :value =>current_user.id%>
</div>


<div class="actions">
	<%=f.submit %>
</div>
<% end %>