<h1>Edit Note</h1>

<div class="error-msg">
  <% if @note.errors.any? %>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
</div>

<%=form_for(@note) do |f|%>
<div class="field">
	<p>Name<p>
		<%=f.text_field:name%>
	</div>
	<div class="field">
		<p>Body</p>
		<%=f.text_area :body,  :cols => "50", :rows => "10"  %>
	</div>
	<div class="field">
		<p>Some Comments</p>
		<%=f.text_field:author%>
	</div>
	<div class="field">
		<p>Date</p>
		<%=f.date_field:date%>
	</div>
	
    <p>NoteBook/Collection</p>  
     <%=f.collection_select:notecollection_id, Notecollection.all, :id, :title%> 
   </div>
   <div class="field">
        <%= f.hidden_field :user_id, :value =>current_user.id%>
   </div>

	
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>