<%if @notes.blank? %>
<h1 style="margin-left:20px;">You have no notes available..</h1>
<h3 style="float:left;margin-left:20px;"><%= link_to "Create a note", new_note_path%></h3>
<%else%>
<h2>All your notes </h2>
<div id="accordion-container"> 
<% @notes.each do |note| %>
     <div class="accordion-header">
	 <h3 class="note_name"><%= note.name %></h3>
	 </div> 
     <div class="accordion-content"> 
	 	<div class="note_info note_collection">In: <%= note.notecollection.title %></div>
	 	<div class="note_info note_date">Created on: <%= note.date %></div> 
	      <div class="note_option show_note"><%= link_to "show note",note_path(note.id)%></div>
	      <div class="note_option edit_note"><%= link_to "edit note", edit_note_path(note.id) %> </div>
		  <div class="note_option destroy_note"><%=link_to "destroy note", note, confirm: "you sure you want to do this?", method: :delete%></div>
		  <div style="clear:both"></div>
     </div>

     <% end %> 
</div>

<h3><center>Your Incomplete Notes..</center></h3>
	
	<div id="accordion-container"> 
	<% @incnotes.each do |note| %>
	     <div class="accordion-header">
		 <h3 class="note_name"><%= note.name %></h3>
		 </div> 
	     <div class="accordion-content"> 
		 	<div class="note_info note_collection">In: <%= note.notecollection.title %></div>
		 	<div class="note_info note_date">Created on: <%= note.date %></div> 
		      <div class="note_option show_note"><%= link_to "Continue Editing..", edit_note_path(note.id) %></div>
		      <div class="note_option edit_note"><%= link_to "edit note", edit_note_path(note.id) %> </div>
			  <div class="note_option destroy_note"><%=link_to "destroy note", note, confirm: "you sure you want to do this?", method: :delete%></div>
			  <div style="clear:both"></div>
	     </div>

	     <% end %> 
	</div>
	<%end%>
	<!--<table> 
	  <tr> 
	   <td>Name</td> 
	   <td>Note-body</td> 
	   <td>comments</td> 
	   <td>Note Book</td>
	   <td>Date Created</td> 
	   <td>Link</td>
	   <td>Edit</td>
	   <td>Delete</td>
	  </tr> 
	  <% @notes.each do |note| %> 
	  <tr> 
	   <td><%= note.name %></td> 
	   <td><%= note.body %></td> 
	   <td><%= note.author %></td>
	   <td><%= note.notecollection.title %></td>
	   <td><%= note.date %></td> 
	   <td><%= link_to "show note",note_path(note.id)%></td>
	   <td><%= link_to "edit note", edit_note_path(note.id) %> </td>
	   <td><%=link_to "destroy note", note, confirm: "you sure you want to do this?", method: :delete%><td>
	  </tr> 
	  <% end %> 
	</table> 
	-->
	