<h1>Create a new note</h1>


<%= form_for(@note) do |f| %> 
  <div class="field"> 
      <p>name</p>  
      <%= f.text_field :name%> 
     </div> 
     <div class="field"> 
      <p>note-body</p>  
       <%= f.text_field :body%> 
     </div> 
     <div class="field"> 
      <p>author</p>  
       <%= f.text_field :author%> 
     </div> 
      <div class="actions"> 
        <%= f.submit %> 
     </div> 
<% end %> 
