<h1>Create a new note</h1>
<div id="live-preview-form" class="lp-block">
<div class="error-msg">
  <% if @note.errors.any? %>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
</div>


<%= form_for(@note) do |f| %> 
  <div class="field"> 
      <p>Name</p>  
      <%= f.text_field :name%> 
     </div> 
     <div class="field"> 
      <p>note-body</p>  
       <%= f.text_area :body,  :cols => "50", :rows => "10"  %> 
     </div> 
     <div class="field"> 
      <p>Some comments</p>  
       <%= f.text_field :author%> 
     </div> 
     <p>Date</p>  
      <%= f.date_field :date%> 
    </div>
 </div> 
 <p>NoteBook/Collection</p>  
  <%=f.collection_select:notecollection_id, Notecollection.all, :id, :title%> 
</div> 
<div class="field">
     <%= f.hidden_field :user_id, :value =>current_user.id%>
</div>

      <div class="actions"> 
        <%= f.submit %> 
     </div> 
<% end %> 
</div>
<div id="Preview">
<div>
<h1><i>Preview</i><h1>
</div>
<div id="live-preview-display" class="lp-block">
	<div id="lp-avatar"></div>
	<div id="lp-name"></div>
	<div id="lp-comment"></div>
</div>
</div>
