<h1>Create a new note</h1>


<%= form_for(@note) do |f| %> 
  <div class="field"> 
      <p>Name</p>  
      <%= f.text_field :name%> 
     </div> 
     <div class="field"> 
      <p>note-body</p>  
       <%= f.text_field :body%> 
     </div> 
     <div class="field"> 
      <p>Some comments</p>  
       <%= f.text_field :author%> 
     </div> 
     <p>Date</p>  
      <%= f.date_field :date%> 
    </div>
 </div> 
 <p>NoteBook/Collection</p>  
  <%=f.collection_select:notecollection_id, Notecollection.all, :id, :title%> 
</div> 
      <div class="actions"> 
        <%= f.submit %> 
     </div> 
<% end %> 
