<!DOCTYPE html>
<html>
<head>
  <title>Scribbar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo1.png' %>
</head>
<body>
	

	
	<div id="wrap">
			  <ul class="navbar">
			  <div id="logo"></div>
				 
	   	      <% if user_signed_in? %>
	   	      <li>
	   	        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	   	      </li>
	   	      <% else %>
	   	      <li>
	   	        <%= link_to('Login', new_user_session_path)  %>  
	   	      </li>
	   	    <% end %>

				 <li><%= link_to "Note Books", notecollections_path %>
					<!--<ul>
		  	          <li><%= link_to "New Note Book",  new_notecollection_path%></li>
		  	          <li><%= link_to "Note Books", notecollections_path %></li>
					</ul>     -->    
				 </li>
				 <li><%= link_to "Notes", notes_path %>
					<!--<ul>
		  	          <li><%= link_to "New Note", new_note_path%></li>
		  	          <li><%= link_to "Notes", notes_path %></li>
					</ul>   -->      
				 </li>
				 <li id="Name"><a href="/"><% if user_signed_in? %> <%=current_user.name%> <% else %><% end %></a></li>
			  </ul>
	</div>
	<!--

	-->
	<!--
<div id="vertical">
<div id="vertical_title"></div>
<ul id="vertical_main">
<li>Some new note</li>
<li>Others to follow</li>
<li>And more</li>
</ul>
</div>
	-->
	<ul class="nav2 navbar-nav">
	  </ul>

	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	
	
	
	<div id="main">

<%= yield %>
</div>

</body>
</html>
