<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	
	<div id="wrap">
			  <ul class="navbar">
				 <li id="Name"><a href="/"><% if user_signed_in? %> <%=current_user.name%> <% else %>Note Taking-Home<% end %></a></li>
	   	      <% if user_signed_in? %>
	   	      <li>
	   	        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	   	      </li>
	   	      <% else %>
	   	      <li>
	   	        <%= link_to('Login', new_user_session_path)  %>  
	   	      </li>
	   	    <% end %>

				 <li><a href="#">Note Books</a>
					<ul>
		  	          <li><%= link_to "New Note Book",  new_notecollection_path%></li>
		  	          <li><%= link_to "Note Books", notecollections_path %></li>
					</ul>         
				 </li>
				 <li><a href="#">Notes</a>
					<ul>
		  	          <li><%= link_to "New Note", new_note_path%></li>
		  	          <li><%= link_to "Notes", notes_path %></li>
					</ul>         
				 </li>
			  </ul>
	</div>
	
	<ul class="nav navbar-nav">
	     
	  </ul>

	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	
	
	


<%= yield %>

</body>
</html>
